// this is the section for the body styles
body {
    font-family: 'Open Sans', sans-serif;
}

.scale-with-grid {
    width: 100%;
    height: auto;
    display: block;
}
.grid {
    width: 100%;
    max-width: 100%;
    position: relative;
    .grid-sizer {
        width: 20%;
        @include phone {
            width: 50%;
        }
        @include tablet-portait {
            width: 50%;
        }
        @include tablet-landcape {
            width: 33.33%;
        }
    }
    .grid-item {
        width: 20%;
        max-width: 500px;
//         @include tablet{
//            width: 33.33%;
//        }
    //    .grid-item-front {
    //       backface-visibility: hidden;
    //       height: 100%;
    //       position: absolute;
    //       overflow: hidden;
    //       width: 100%;
    //       transform: rotateY(0deg);
    //    }
    //    .grid-item-back {
    //      backface-visibility: hidden;
    //      height: 100%;
    //      position: absolute;
    //      overflow: hidden;
    //      width: 100%;
    //      transform: rotateY(180deg);
    //    }
        @include tablet-landcape {
            width: 33.33%;
        }
        @include tablet-portait {
            width: 50%;
        }
        @include phone {
            width: 50%;
        }
        
        img {
            position: relative;
            z-index: 1;
        }
        .hidden {
            position: absolute;
            left: 0px;
            top: 0px; 
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 0;
            .hiddenTable {
                display: table; 
                width: 100%;
                height: 100%;
                .hiddenTableCell {
                    display: table-cell; 
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    p {
                        font-size: 4vh;
                        margin: 0;
                        color: $purple;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.content {
    text-align: center;
    padding: 50px 0;
}
