// this is the section for the media queries

/* #Media Queries
================================================== */

@media only screen and (max-width: 1024px) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (max-device-height: 1024px) and (orientation: portrait) {
    
}

@media only screen and (max-width: 768px) {	
}

@media only screen and (max-width: 767px) {
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
	
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
	
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
	
}

@media only screen and (max-width: 479px) {
	
}

@media only screen and (max-width: 375px) {
	
}

@media only screen and (max-width: 320px) {
    h1 {
        color: blue;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 627px) and (max-device-height: 1024px) and (orientation: portrait) {
	
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (max-device-height: 1024px) and (orientation: portrait) {
	
}