// Brand Color
$primary-color: blue;

// Font sizes
$font-size: 18px;

// Screen sizes

$tablet-width: 768px;
$desktop-width: 1084px;
$large-desktop-width: 1320px;
$extralarge-desktop: 1920px;


// Colours 

$purple: #58135b;